with IPD_CHG_MED (AN, InvoiceSuffixSmall, SuffixSmall, IPDChargeDateTime, IPDChargeSuffixTiny, ChargeMedicineSuffixSmall, ChargeMedicineSuffixSmallList, ChargeMedicineAmt, ChargeMedicineAmtList) as
(
select	aa.AN 
			, aa.InvoiceSuffixSmall
			, aa.SuffixSmall 
			, aa.IPDChargeDateTime
			, aa.IPDChargeSuffixTiny
			, CAST(LEFT(aa.ChargeMedicineSuffixSmallList, CHARINDEX('|', aa.ChargeMedicineSuffixSmallList + '|') - 1) as int) as ChargeMedicineSuffixSmall 
			, STUFF(aa.ChargeMedicineSuffixSmallList, 1, CHARINDEX('|', aa.ChargeMedicineSuffixSmallList + '|'), '') as ChargeMedicineSuffixSmallList
			, CAST(LEFT(aa.ChargeMedicineAmtList, CHARINDEX('|', aa.ChargeMedicineAmtList + '|') - 1) as float) as ChargeMedicineAmt
			, STUFF(aa.ChargeMedicineAmtList, 1, CHARINDEX('|', aa.ChargeMedicineAmtList + '|'), '') as ChargeMedicineAmtList
	from 
	(
		select	a.AN 
				, a.InvoiceSuffixSmall
				, a.SuffixSmall 
				, a.IPDChargeDateTime
				, a.IPDChargeSuffixTiny
				, a.ChargeMedicineSuffixSmallList
				, a.ChargeMedicineAmtList
		from	HNIPD_INVOICE_ITEM a
		where	
				--and a.InvoiceSuffixSmall = @InvoiceSuffixSmall
				 a.ChargeMedicineSuffixSmallList is not null
	)aa
	union all
	select	AN 
			, InvoiceSuffixSmall
			, SuffixSmall 
			, IPDChargeDateTime
			, IPDChargeSuffixTiny
			, CAST(LEFT(ChargeMedicineSuffixSmallList, CHARINDEX('|', ChargeMedicineSuffixSmallList + '|') - 1) as int) as ChargeMedicineSuffixSmall
			, STUFF(ChargeMedicineSuffixSmallList, 1, CHARINDEX('|', ChargeMedicineSuffixSmallList + '|'), '') as ChargeMedicineSuffixSmallList
			, CAST(LEFT(ChargeMedicineAmtList, CHARINDEX('|', ChargeMedicineAmtList + '|') - 1) as float) as ChargeMedicineAmt
			, STUFF(ChargeMedicineAmtList, 1, CHARINDEX('|', ChargeMedicineAmtList + '|'), '') as ChargeMedicineAmtList
	from IPD_CHG_MED
	where ChargeMedicineSuffixSmallList > ''
)
select	'PT2' as 'BU' ,rec.*
from 
(
select	adm.HN as PatientID
		, CONVERT(varchar,adm.AdmDateTime,112)+adm.AN as AdmitID
		, adm.AdmDateTime as AdmitDateTime
		, adm.AN
		, a.InvoiceNo
		, a.InvoiceSuffixSmall
		, a.HNReceiptFormCode
		, dtl.SuffixSmall
		, dtlm.ChargeMedicineSuffixSmall
		, dtl.IPDChargeDateTime as MakeDateTime
		, sr.ReceiptFormLine as ReceiveFormLineNo
		, dtl.HNActivityCode
		, coalesce(chg.TreatmentCode, chg.LabCode, chg.XrayCode, chg.PTModeCode, chg.StockCode, chgm.StockCode, chg.HNActivityCode,'') as ItemCode
		, coalesce(dbo.CutSortChar(sys01.LocalName)
		  , dbo.CutSortChar(sys02.LocalName)
		  , dbo.CutSortChar(sys03.LocalName)
		  , dbo.CutSortChar(sys04.LocalName)
		  , dbo.CutSortChar(sk1.LocalName)
		  , dbo.CutSortChar(sk2.LocalName)
		  , dbo.CutSortChar(sys05.LocalName),'') as ItemName
		, coalesce(chgm.UnitPrice, ptc.UnitPrice, meal.UnitPrice, oru.UnitPrice , chg.ChargeAmt) as UnitPrice
		, case when chg.HNChargeType = 2 then coalesce(chgm.Qty, oru.Qty,chg.Qty) * (-1) else coalesce(chgm.Qty, oru.Qty,chg.Qty) end as Qty
		, case when chg.HNChargeType = 2 then coalesce((chgm.UnitPrice * chgm.Qty), (oru.UnitPrice * oru.Qty),(chg.ChargeAmt)) * (-1) 
		  else coalesce((chgm.UnitPrice * chgm.Qty), (oru.UnitPrice * oru.Qty),(chg.ChargeAmt)) end as ChargeAmt
		, case when dtlm.ChargeMedicineAmt is not null then dtlm.ChargeMedicineAmt else  dbo.GetAmountfromHNChargeType(dtl.HNChargeType ,dtl.FromChargeAmt) end as FromChargeAmt
		, case when dtlm.ChargeMedicineSuffixSmall is not null then 
		  (
			case when dtlm.Seq = 1 then dbo.GetAmountfromHNChargeType(dtl.HNChargeType ,dtl.DiscountAmt) else 0 end
		  )
		  else dbo.GetAmountfromHNChargeType(dtl.HNChargeType ,dtl.DiscountAmt) end as DiscountAmt
		, rf.BillingGroupId
		, rf.BillingGroupLocalName 
		, rf.BillingGroupEnglishName
		, case when charindex('(',rf.BillingSubGroupId) > 0  then substring(rf.BillingSubGroupId, 1, charindex('(',rf.BillingSubGroupId)-1) 
		  else rf.BillingSubGroupId end as BillingSubGroupId
		, rf.BillingSubGroupLocalName
		, rf.BillingSubGroupEnglishName
		, chg.FacilityRequestMethod as FacilityReqMethodCode
		, dbo.sysconname(chg.FacilityRequestMethod,42161,2) as FacilityReqMethodNameTH
		, dbo.sysconname(chg.FacilityRequestMethod,42161,1) as FacilityReqMethodNameEN
from	HNIPD_INVOICE_HEADER a
		inner join HNIPD_INVOICE_ITEM dtl on a.AN = dtl.AN and a.InvoiceSuffixSmall = dtl.InvoiceSuffixSmall
		inner join HNIPD_MASTER adm on a.AN=adm.AN
		--left join API_FuncGet_HNIPD_CHARGE_MEDICINE_LIST(@An) dtlm on dtlm.AN = dtl.AN and dtlm.InvoiceSuffixSmall = dtl.InvoiceSuffixSmall and dtlm.IPDChargeDateTime = dtl.IPDChargeDateTime and dtlm.IPDChargeSuffixTiny = dtl.IPDChargeSuffixTiny and dtlm.SuffixSmall = dtl.SuffixSmall  
		left join (select	ROW_NUMBER() over(partition by AN, InvoiceSuffixSmall, SuffixSmall order by SuffixSmall) as seq
							, *
					from	IPD_CHG_MED ) dtlm on dtlm.AN = dtl.AN and dtlm.InvoiceSuffixSmall = dtl.InvoiceSuffixSmall and dtlm.IPDChargeDateTime = dtl.IPDChargeDateTime and dtlm.IPDChargeSuffixTiny = dtl.IPDChargeSuffixTiny and dtlm.SuffixSmall = dtl.SuffixSmall  
		left join HNIPD_CHARGE chg on dtl.AN = chg.AN and dtl.IPDChargeDateTime = chg.IPDChargeDateTime and dtl.IPDChargeSuffixTiny = chg.IPDChargeSuffixTiny
		left join HNIPD_CHARGE_MEDICINE chgm on chgm.AN = dtlm.AN and chgm.IPDChargeDateTime = dtlm.IPDChargeDateTime and chgm.IPDChargeSuffixTiny = dtlm.IPDChargeSuffixTiny and chgm.ChargeMedicineSuffixSmall = dtlm.ChargeMedicineSuffixSmall
		left join HNIPD_DRUG_HISTORY dh on chgm.IPDChargeDateTime = dh.IPDChargeDateTime and chgm.ChargeMedicineSuffixSmall = dh.ChargeMedicineSuffixSmall
		left join HNIPDDRUG_ORDER_ITEM doi on dh.DrugOrderNo = doi.DrugOrderNo and dh.ChargeMedicineSuffixSmall = doi.SuffixSmall
		--left join HNIPDDRUG_ORDER_HEADER do on chg.AN = do.AN and chg.OrderRef = do.DrugOrderNo
		--dtlm.AN = chgm.AN and dtlm.IPDChargeDateTime = chgm.IPDChargeDateTime and dtlm.IPDChargeSuffixTiny = chg.IPDChargeSuffixTiny and dtlm.ChargeMedicineSuffixSmall = chgm.ChargeMedicineSuffixSmall
		left join HNORREQ_USAGE oru on chg.EntryByFacilityRmsNo = oru.FacilityRmsNo and chg.EntryByFacilityRefNo = oru.RequestNo and chg.IPDChargeDateTime = oru.ChargeDateTime and chg.HNActivityCode = oru.HNActivityCode 
					  and chg.StockCode = oru.StockCode and chg.FordateTimeFrom = oru.EntryDateTime
		left join HNPTREQ_PTMODE ptc on chg.IPDChargeDateTime = ptc.ChargeDateTime and chg.EntryByFacilityRmsNo = ptc.FacilityRmsNo and chg.EntryByFacilityRefNo = ptc.RequestNo and chg.PTModeCode = ptc.PTModeCode  -- เพิ่ม unit price ของ PT 18-12-2566
		left join HNPOSTED_MEAL_HEADER meal on chg.AN = meal.AN and chg.IPDChargeDateTime = meal.IPDChargeDateTime and chg.HNActivityCode = meal.HNActivityCode and meal.UnitPrice > 0 -- เพิ่ม unit price ของ Meal 4-1-2567
		left join HNLABREQ_HEADER l on chg.EntryByFacilityRmsNo = l.FacilityRmsNo and chg.EntryByFacilityRefNo = l.RequestNo --// เพิ่ม check lab จาก OR 2024-04-03
		left join vw_setup_HNReceiptForm_Line_Activity sr on sr.HNActivityCode = dtl.HNActivityCode
		left join API_SIMB_ReceiptFormBillingLocation rf on sr.ReceiptFormLine = rf.Line 
		left join STOCKMASTER sk1 on chg.StockCode = sk1.StockCode
		left join STOCKMASTER sk2 on chgm.StockCode = sk2.StockCode
		left join DNSYSCONFIG sys01 on sys01.CtrlCode = 42075 and chg.TreatmentCode = sys01.Code
		left join DNSYSCONFIG sys02 on sys02.CtrlCode = 42136 and chg.LabCode = sys02.Code
		left join DNSYSCONFIG sys03 on sys03.CtrlCode = 42179 and chg.XrayCode = sys03.Code
		left join DNSYSCONFIG sys04 on sys04.CtrlCode = 42632 and chg.PTModeCode = sys04.Code
		left join DNSYSCONFIG sys05 on sys05.CtrlCode = 42093 and chg.HNActivityCode = sys05.Code
where	a.AN = '02764/68'
		and a.InvoiceNo = 'BI1250002475'
)rec 
where rec.FromChargeAmt != 0
order by rec.BillingGroupId, rec.BillingSubGroupId, rec.MakeDateTime;




