select 
'PLS' as 'BU'
,CONVERT(varchar,bill.AdmitDateTime,112)+ bill.AN + CONVERT(varchar,bill.MakeDateTime,112)+ CONVERT(varchar,ROW_NUMBER() OVER(partition by bill.AN ORDER BY bill.AN)) as 'OrderID'
,bill.*
from 
(

		(--********************************* LAB ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				,'Lab' as 'ItemType'
				, lr.LABCODE as 'ItemCode'
				, ls.description_th as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, ls.description_en as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, a.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(a.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when a.REVERSE='1' then 1 * (-1) else 1 end as QTY
				, lr.AMT as UnitPrice
				, case when a.REVERSE='1' then lr.AMT * (-1) else lr.AMT end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, a.MAKEDATETIME as 'ChargeDateTime'
				, a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNamtTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNamtEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				, 0 as 'FlagDF' --เพิ่มวันที่ 03/03/2568
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join LABREQ l on b.HN = l.HN and a.FACILITYRMS = l.FACILITYRMSNO and a.REF = l.REQUESTNO
				left join LABRESULT lr on l.FACILITYRMSNO = lr.FACILITYRMSNO and l.REQUESTNO = lr.REQUESTNO
				left join [dbo].[view_setup_ActivityCode] c on a.CHARGECODE = c.hnactivitycode
				left join [dbo].[view_setup_Lab] ls on lr.LABCODE = ls.labcode
		where	 a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
				and ls.[NeverShowOnHelp] = '0'
				and (a.FACILITYRMS != 'LAB2') 
	)
	union all
			(--********************************* BLOOD BANK ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				,'BloodBank' as 'ItemType'
				, lr.LABCODE as 'ItemCode'
				, ls.description_th as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, ls.description_en as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, a.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(a.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when a.REVERSE='1' then 1 * (-1) else 1 end as QTY
				, lr.AMT as UnitPrice
				, case when a.REVERSE='1' then lr.AMT * (-1) else lr.AMT end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, a.MAKEDATETIME as 'ChargeDateTime'
				, a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNamtTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNamtEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				, 0  as 'FlagDF'
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join LABREQ l on b.HN = l.HN and a.FACILITYRMS = l.FACILITYRMSNO and a.REF = l.REQUESTNO
				left join LABRESULT lr on l.FACILITYRMSNO = lr.FACILITYRMSNO and l.REQUESTNO = lr.REQUESTNO
				left join [dbo].[view_setup_ActivityCode] c on a.CHARGECODE = c.hnactivitycode
				left join [dbo].[view_setup_Lab] ls on lr.LABCODE = ls.labcode 
				left join CIPN_SETUP_CODE_NAME m1 on ls.labcode = m1.code and m1.MappingType = 3 and m1.BILLGROUP <> '05'
				left join AIPN_EQUIPDEV m2 on  lr.LABCODE = m2.CODE and a.MAKEDATETIME between m2.DateEff and m2.DateExp 
		where	a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
				and ls.[NeverShowOnHelp] = '0'
				and (a.FACILITYRMS = 'LAB2') 
	)
	union all
	(--********************************* XRAY ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				, 'Xray' as 'ItemType'
				, case when a.TreatmentCode is not null then a.TreatmentCode else lr.XRAYCODE end as 'ItemCode'
				, case when a.TreatmentCode is not null then dbo.sysconname(a.TreatmentCode,20051,2) else dbo.sysconname(lr.XRAYCODE,20073,2) end as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, case when a.TreatmentCode is not null then dbo.sysconname(a.TreatmentCode,20051,1) else dbo.sysconname(lr.XRAYCODE,20073,1) end as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, a.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(a.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when a.Reverse='1' then 1 * (-1) else 1 end as QTY
				, lr.AMT as UnitPrice
				, case when a.Reverse = '1' then lr.AMT * (-1) else lr.AMT end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				,l.IPDCHARGEMAKEDATETIME as 'ChargeDateTime'
				,a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				,case 
					when (Convert(int, substring(sc.com,51,1)) =0 ) Then 0
					when (Convert(int, substring(sc.com,51,1)) =1 ) Then 1 end as 'FlagDF' --เพิ่มวันที่ 03/03/2568
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join XRAYCHARGE l on a.FACILITYRMS = l.FACILITYRMSNO and a.REF = l.REQUESTNO and a.CHARGECODE = l.CHARGECODE
				left join XRAYRESULT lr on l.FACILITYRMSNO = lr.FACILITYRMSNO and l.REQUESTNO = lr.REQUESTNO
				left join [dbo].[view_setup_ActivityCode] c on a.CHARGECODE = c.hnactivitycode
				left join [dbo].view_xray_price ls on lr.XRAYCODE = ls.CODE 
				left join [dbo].view_treatment_price lt on a.TreatmentCode = lt.CODE 
				left join CIPN_SETUP_CODE_NAME m1 on m1.SetupType = 1018 and ls.CODE = m1.code
				left join AIPN_EQUIPDEV m2 on  lr.XRAYCODE = m2.CODE and a.MAKEDATETIME between m2.DateEff and m2.DateExp --EquipAIPN
				left join SYSCONFIG sc on a.TREATMENTCODE=sc.CODE and sc.CTRLCODE = 20051
		where	a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
				and a.TypeOfActivity = 8
				and lr.CXLDATETIME is null
	)
	union all
	(--********************************* TREATMENT ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				, 'Treatment' as 'ItemType'
				, a.TREATMENTCODE as 'ItemCode'
				, dbo.sysconname(a.TREATMENTCODE,20051,2) as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.TREATMENTCODE,20051,1) as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, a.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(a.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when c.[reverse] = 1 then -1 else 1 end as QTY
				, a.CHARGEAMT as [UnitPrice] 
				, case when c.[reverse] = 1 then a.CHARGEAMT * (-1) else a.CHARGEAMT end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, a.MAKEDATETIME as 'ChargeDateTime'
				,a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				,case 
					when (Convert(int, substring(sc.com,51,1)) =0 ) Then 0
					when (Convert(int, substring(sc.com,51,1)) =1 ) Then 1 end as 'FlagDF' --เพิ่มวันที่ 03/03/2568
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join [dbo].[view_setup_ActivityCode] c on a.CHARGECODE = c.hnactivitycode
				left join [dbo].view_treatment_price ls on a.TREATMENTCODE = ls.CODE 
				left join CIPN_SETUP_CODE_NAME m1 on m1.SetupType = 1018 and ls.CODE = m1.code and m1.BILLGROUP <> '05'
				left join AIPN_EQUIPDEV m2 on  a.TREATMENTCODE = m2.CODE and a.MAKEDATETIME between m2.DateEff and m2.DateExp --EquipAIPN
				left join SYSCONFIG sc on a.TREATMENTCODE=sc.CODE and sc.CTRLCODE = 20051
		where	a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
				and a.TREATMENTCODE is not null 
				and (a.FACILITYRMS is null and a.REF is null)
				and a.TYPEOFACTIVITY <> 1
	)
	union all
	(--********************************* MEDICINE ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				, 'Medicine' as 'ItemType' 
				, case when ls.STOCKCODE is not null then ls.STOCKCODE else a.CHARGECODE end as 'ItemCode'
				, case when ls.STOCKCODE is not null then dbo.CutSortChar(sk.THAINAME) else c.HNActivityLocalName end as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, case when ls.STOCKCODE is not null then dbo.CutSortChar(sk.ENGLISHNAME) else c.HNActivityEnglishName end as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, ls.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(ls.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(ls.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, ls.UNITCODE as 'UnitCode'
				, dbo.sysconname(ls.UNITCODE,40016,2) as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(ls.UNITCODE,40016,1) as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when c.[reverse] = 1 then ls.QTY * (-1) else ls.QTY end as QTY 
				, case when ls.STOCKCODE is not null then ls.UNITPRICE else a.CHARGEAMT end as UnitPrice
				, case when ls.StockCode is not null and c.[reverse] = 1  then (ls.UnitPrice*ls.Qty) * -1 
					   when ls.StockCode is not null and c.[reverse] = 0 then (ls.UnitPrice*ls.Qty) else ls.AMT end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, ls.MAKEDATETIME as 'ChargeDateTime'
				,a.FACILITYRMS as 'EntryByFacility'
				, ls.ORDERNO as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, ls.STORE as 'StoreCode'
				,dbo.sysconname(ls.STORE,40010,2) as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				,dbo.sysconname(ls.STORE,40010,1) as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				,ls.DOSETYPE as 'DoseTypeCode'
				,dbo.sysconname(ls.DOSETYPE,20031,2) as 'DoseTypeNameTH'
				,dbo.sysconname(ls.DOSETYPE,20031,1) as 'DoseTypeNameEN'
				,ls.DOSECODE as 'DoseCode'
				,dbo.sysconname(ls.DOSECODE,20032,2) as 'DoseNameTH'
				,dbo.sysconname(ls.DOSECODE,20032,1) as 'DoseNameEN'
				,ls.DOSEQTYCODE as 'DoseQTYCode'
				,dbo.sysconname(ls.DOSEQTYCODE,20033,2) as 'DoseQTYNameTH'
				,dbo.sysconname(ls.DOSEQTYCODE,20033,1) as 'DoseQTYNameEN'
				,ls.DOSEUNITCODE as 'DoseUnitCode'
				,dbo.sysconname(ls.DOSEUNITCODE,20034,2) as 'DoseUnitNameTH'
				,dbo.sysconname(ls.DOSEUNITCODE,20034,1) as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				,ls.AUXLABEL1 as 'AuxLabel1Code'
				,dbo.sysconname(ls.AUXLABEL1,20030,2) as 'AuxLabel1NameTH'
				,dbo.sysconname(ls.AUXLABEL1,20030,1) as 'AuxLabel1NameEN'
				,ls.AUXLABEL2 as 'AuxLabel2Code'
				,dbo.sysconname(ls.AUXLABEL2,20030,2) as 'AuxLabel2NameTH'
				,dbo.sysconname(ls.AUXLABEL2,20030,1) as 'AuxLabel2NameEN'
				,ls.AUXLABEL3 as 'AuxLabel3Code'
				,dbo.sysconname(ls.AUXLABEL3,20030,2) as 'AuxLabel3NameTH'
				,dbo.sysconname(ls.AUXLABEL3,20030,1) as 'AuxLabel3NameEN'
				, ls.DOSEMEMO as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'	
				,  0 as 'FlagDF'
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join IPDDRUGHIST ls on a.AN = ls.AN and a.MAKEDATETIME = ls.HEADERMAKEDATETIME and a.CHARGECODE = ls.CHARGECODE 
				left join [dbo].[view_setup_ActivityCode] c on ls.CHARGECODE = c.hnactivitycode	
				left join [SSBSTOCK].[dbo].[STOCK_MASTER] sk on ls.STOCKCODE = sk.STOCKCODE
				left join 
				(
					select	STOCKCODE
							, ENGLISHNAME as ref
					from	[SSBSTOCK].[dbo].[STOCK_INXNAME]
					where	INDEXNAMEKEY = '01'
				)tmt on sk.STOCKCODE = tmt.STOCKCODE
		where	a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
	)
	union all
	(--********************************* USAGE ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				, 'Usage' as 'ItemType'
				, case when ls.STOCKCODE is not null then ls.STOCKCODE else a.CHARGECODE end as 'ItemCode'
				, case when ls.STOCKCODE is not null then dbo.CutSortChar(sk.THAINAME) else c.HNActivityLocalName end as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, case when ls.STOCKCODE is not null then dbo.CutSortChar(sk.ENGLISHNAME) else c.HNActivityEnglishName end as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, ls.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(ls.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(ls.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, ls.UNITCODE as 'UnitCode'
				, dbo.sysconname(ls.UNITCODE,40016,2) as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(ls.UNITCODE,40016,1) as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when c.[reverse] = 1  then ls.QTY * (-1) else ls.QTY end as QTY
				, case when ls.STOCKCODE is not null then ls.UNITPRICE else a.CHARGEAMT end as UnitPrice
				, case when c.[reverse] = 1  then (case when ls.STOCKCODE is not null then ls.UNITPRICE else a.CHARGEAMT end * ls.QTY) * (-1) else ls.AMT end  as ChargeAmt
				,case when ls.TYPEOFCHARGE = 0 then 'Charge'
							  when ls.TYPEOFCHARGE = 1 then 'Free'
							  when ls.TYPEOFCHARGE = 2 then 'Refund'
							  when ls.TYPEOFCHARGE = 3 then 'Cxl'
							  when ls.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when ls.TYPEOFCHARGE = 5 then 'Never Charge'
							  when ls.TYPEOFCHARGE = 6 then 'Adjust'
							  when ls.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, ls.MAKEDATETIME as 'ChargeDateTime'
				, a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, ls.STORE as 'StoreCode' 
				,dbo.sysconname(ls.STORE,40010,2) as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				,dbo.sysconname(ls.STORE,40010,1) as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				,  0 as 'FlagDF'  --เพิ่มวันที่ 03/03/2568
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join IPDSTOCKUSAGE ls on a.AN = ls.AN and a.MAKEDATETIME = ls.HEADERMAKEDATETIME
				left join [dbo].[view_setup_ActivityCode] c on ls.CHARGECODE = c.hnactivitycode	
				left join [SSBSTOCK].[dbo].[STOCK_MASTER] sk on ls.STOCKCODE = sk.STOCKCODE
				left join 
				(
					select	STOCKCODE
							, ENGLISHNAME as ref
					from	[SSBSTOCK].[dbo].[STOCK_INXNAME]
					where	INDEXNAMEKEY = '01'
				)tmt on sk.STOCKCODE = tmt.STOCKCODE
				left join AIPN_EQUIPDEV m2 on  case when ls.STOCKCODE is not null then ls.STOCKCODE else a.CHARGECODE end = m2.CODE and a.MAKEDATETIME between m2.DateEff and m2.DateExp --EquipAIPN
		where	a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
	)
	union all
	(--********************************* AUTOPOST ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				,CASE WHEN a.TYPEOFACTIVITY in ('3','6') THEN 'ServiceCharge' End as 'ItemType'
				, a.CHARGECODE as 'ItemCode'
				, c.HNActivityLocalName as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, c.HNActivityEnglishName as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, a.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(a.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when c.[reverse] = 1  then -1 else 1 end as QTY
				, a.CHARGEAMT as UnitPrice
				, case when c.[reverse] = 1 then a.CHARGEAMT * (-1) else a.CHARGEAMT end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, a.MAKEDATETIME as 'ChargeDateTime'
				,a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				,case 
					when (Convert(int, substring(sc.com,51,1)) =0 ) Then 0
					when (Convert(int, substring(sc.com,51,1)) =1 ) Then 1 end as 'FlagDF' --เพิ่มวันที่ 03/03/2568
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join [dbo].[view_setup_ActivityCode] c on a.CHARGECODE = c.hnactivitycode	
				left join CIPN_SETUP_CODE_NAME m1 on m1.SetupType = 1018 and a.CHARGECODE = m1.code and m1.BILLGROUP <> '05'
				left join AIPN_EQUIPDEV m2 on  a.CHARGECODE = m2.CODE and a.MAKEDATETIME between m2.DateEff and m2.DateExp
				left join SYSCONFIG sc on a.TREATMENTCODE=sc.CODE and sc.CTRLCODE = 20051
		where	a.VOIDDATETIME is null
				and (a.AUTOPOST = 1 or a.AUTOPOST = 0)
				and a.TYPEOFACTIVITY in (3,6)
				and a.TYPEOFACTIVITY != 4 
	)
		union all
	(--********************************* FOOD ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				,'Food' as 'ItemType'
				, a.CHARGECODE as 'ItemCode'
				, c.HNActivityLocalName as 'ItemNameTH'  --แก้ไขวันที่ 03/03/2568
				, c.HNActivityEnglishName as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, a.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(a.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when c.[reverse] = 1  then -1 else 1 end as QTY
				, a.CHARGEAMT as UnitPrice
				, case when c.[reverse] = 1 then a.CHARGEAMT * (-1) else a.CHARGEAMT end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, a.MAKEDATETIME as 'ChargeDateTime'
				,a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				,case 
					when (Convert(int, substring(sc.com,51,1)) =0 ) Then 0
					when (Convert(int, substring(sc.com,51,1)) =1 ) Then 1 end as 'FlagDF' --เพิ่มวันที่ 03/03/2568
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				left join [dbo].[view_setup_ActivityCode] c on a.CHARGECODE = c.hnactivitycode	
				left join CIPN_SETUP_CODE_NAME m1 on m1.SetupType = 1018 and a.CHARGECODE = m1.code
				left join AIPN_EQUIPDEV m2 on  a.CHARGECODE = m2.CODE and a.MAKEDATETIME between m2.DateEff and m2.DateExp --EquipAIPN
				left join SYSCONFIG sc on a.TREATMENTCODE=sc.CODE and sc.CTRLCODE = 20051
		where	a.VOIDDATETIME is null
				and a.TreatmentCode is null
				and a.TypeOfActivity = 4 
	)
	union all
	(	--********************************* OR ********************************* 
		select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				, case when o1.TREATMENTCODE is not null then 'Treatment' 
					   when o2.STOCKCODE is not null and o2.STOCKCODE like 'MS%' then 'Usage'
					   when o2.STOCKCODE is not null and o2.STOCKCODE not like 'MS%' then 'Medicine' end  as 'ItemType'
				, case when o1.TREATMENTCODE is not null then o1.TREATMENTCODE else o2.STOCKCODE end as 'ItemCode'
				, case when o1.TREATMENTCODE is not null then dbo.sysconname(o1.TREATMENTCODE,20051,2) else dbo.CutSortChar(sk.THAINAME) end as 'ItemNameTH' --แก้ไขวันที่ 03/03/2568
				, case when o1.TREATMENTCODE is not null then dbo.sysconname(o1.TREATMENTCODE,20051,1) else dbo.CutSortChar(sk.ENGLISHNAME) end as 'ItemNameEN' --เพิ่มวันที่ 03/03/2568
				, a.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(a.CHARGECODE,20023,2) as 'ActivityNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.CHARGECODE,20023,1) as 'ActivityNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'UnitNameEN' --เพิ่มวันที่ 03/03/2568
				, case when o1.TREATMENTCODE is not null then 
				  (case when c.[reverse] = 1  then o1.QTY * (-1) else 1 end) 
				  else (case when c.[reverse] = 1  then o2.QTY * (-1) else o2.QTY end) end as QTY
				, case when o1.TREATMENTCODE is not null then o1.AMT else o2.UNITPRICE end as UnitPrice
				, case when c.[reverse] = 1 and o1.TREATMENTCODE is not null then o1.AMT * (-1)
					   when c.[reverse] = 0 and o1.TREATMENTCODE is not null then o1.AMT
					   when c.[reverse] = 1 and o1.TREATMENTCODE is null then (o2.UnitPrice * o2.Qty) * (-1)
					   else o2.UnitPrice * o2.Qty end as ChargeAmt
				,case when a.TYPEOFCHARGE = 0 then 'Charge'
							  when a.TYPEOFCHARGE = 1 then 'Free'
							  when a.TYPEOFCHARGE = 2 then 'Refund'
							  when a.TYPEOFCHARGE = 3 then 'Cxl'
							  when a.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when a.TYPEOFCHARGE = 5 then 'Never Charge'
							  when a.TYPEOFCHARGE = 6 then 'Adjust'
							  when a.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, a.MAKEDATETIME as 'ChargeDateTime'
				,a.FACILITYRMS as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' --เพิ่มวันที่ 03/03/2568
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' --เพิ่มวันที่ 03/03/2568
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' --แก้ไขวันที่ 03/03/2568
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'StoreNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' --แก้ไขวันที่ 03/03/2568
				, '' as 'EntryByFacilityMethodNameEN' --เพิ่มวันที่ 03/03/2568
				, '' as 'Checkup'
				,case 
					when (Convert(int, substring(sc.com,51,1)) =0 ) Then 0
					when (Convert(int, substring(sc.com,51,1)) =1 ) Then 1 end as 'FlagDF' --เพิ่มวันที่ 03/03/2568
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' --เพิ่มวันที่ 03/03/2568
				, c.CategoryThaiName as 'ActivityCategoryNameTH' --เพิ่มวันที่ 03/03/2568
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' --เพิ่มวันที่ 03/03/2568
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a left join ADMMASTER b on a.AN = b.AN
				inner join ORCHARGE o1 on a.FACILITYRMS = o1.FACILITYRMSNO and a.REF = o1.REQUESTNO and a.MAKEDATETIME = o1.IPDCHARGEMAKEDATETIME and a.CHARGECODE = o1.CHARGECODE
				left join ORUSAGE o2 on o1.FACILITYRMSNO = o2.FACILITYRMSNO and o1.REQUESTNO = o2.REQUESTNO and /*o1.MAKEDATETIME = o2.CHARGEDATETIME*/ a.CHARGEVOUCHERNO=o2.CHARGEVOUCHERNO and o1.CHARGECODE = o2.CHARGECODE
				left join view_treatment_price t on o1.TREATMENTCODE = t.CODE
				left join [SSBSTOCK].[dbo].[STOCK_MASTER] sk on o2.STOCKCODE = sk.STOCKCODE
				left join [dbo].[view_setup_ActivityCode] c on o1.CHARGECODE = c.hnactivitycode
				left join [dbo].[view_setup_ActivityCode] c2 on o2.CHARGECODE = c2.hnactivitycode
				left join CIPN_SETUP_CODE_NAME m1 on m1.SetupType = 1018 and a.TREATMENTCODE = m1.code and m1.BILLGROUP <> '05'
				left join 
				(
					select	STOCKCODE
							, ENGLISHNAME as ref
					from	[SSBSTOCK].[dbo].[STOCK_INXNAME]
					where	INDEXNAMEKEY = '01'
				)tmt on sk.STOCKCODE = tmt.STOCKCODE
				left join 
				(
					select	STOCKCODE
							, ENGLISHNAME as ref
					from	[SSBSTOCK].[dbo].[STOCK_INXNAME]
					where	INDEXNAMEKEY = 'CSCODE'
				)ucep on sk.STOCKCODE = ucep.STOCKCODE
				left join AIPN_EQUIPDEV m2 on  case when o1.TREATMENTCODE is not null then o1.TREATMENTCODE else o2.STOCKCODE end = m2.CODE and a.MAKEDATETIME between m2.DateEff and m2.DateExp --EquipAIPN 
				left join SYSCONFIG sc on a.TREATMENTCODE=sc.CODE and sc.CTRLCODE = 20051
		where	a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
	)
	union all
	(--********************************* PT ********************************* 
	select	b.HN as 'PatientID'
				,CONCAT(CONVERT(varchar,b.ADMDATETIME,112),b.AN) as 'AdmitID'
				,b.ADMDATETIME as 'AdmitDateTime'
				,b.AN as 'AN'
				,a.MAKEDATETIME as 'MakeDateTime'
				, 'PT' as 'ItemType'
				, pt.PTMODE as 'ItemCode'
				, dbo.sysconname(pt.PTMODE,20104,2) as 'ItemNameTH' 
				, dbo.sysconname(pt.PTMODE,20104,1) as 'ItemNameEN' 
				, pt.CHARGECODE as 'ActivityCode'
				, dbo.sysconname(pt.CHARGECODE,20023,2) as 'ActivityNameTH' 
				, dbo.sysconname(pt.CHARGECODE,20023,1) as 'ActivityNameEN' 
				, '' as 'UnitCode'
				, '' as 'UnitNameTH' 
				, '' as 'UnitNameEN' 
				, '' as QTY
				, pt.AMT as UnitPrice
				, pt.AMT as ChargeAmt
				,case when pt.TYPEOFCHARGE = 0 then 'Charge'
							  when pt.TYPEOFCHARGE = 1 then 'Free'
							  when pt.TYPEOFCHARGE = 2 then 'Refund'
							  when pt.TYPEOFCHARGE = 3 then 'Cxl'
							  when pt.TYPEOFCHARGE = 4 then 'Usage FOC'
							  when pt.TYPEOFCHARGE = 5 then 'Never Charge'
							  when pt.TYPEOFCHARGE = 6 then 'Adjust'
							  when pt.TYPEOFCHARGE = 7 then 'Return Usage FOC' end as 'ChargeType'
				, a.MAKEDATETIME as 'ChargeDateTime'
				, dbo.sysconname(a.FACILITYRMS,20045,4) as 'EntryByFacility'
				, a.REF as 'RefNo'
				,a.ENTRYBYUSERCODE as 'EntryByUserCode' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,2) as 'EntryByUserNameTH' --เพิ่มวันที่ 27/05/2569
				,dbo.sysconname(a.ENTRYBYUSERCODE,10000,1) as 'EntryByUserNameEN' --เพิ่มวันที่ 27/05/2569
				, a.VOIDBYUSERCODE as 'CancelByUserCode' 
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,2) as 'CancelByUserNameTH' 
				, dbo.sysconname(a.VOIDBYUSERCODE,10000,1) as 'CancelByUserNameEN' 
				, a.VOIDDATETIME as 'CancelDateTime'
				, '' as 'TreatmentDateTimeFrom'
				, '' as 'TreatmentDateTimeTo'
				, '' as 'DFDoctor'
				, a.RIGHTCODE as 'RightCode'
				, dbo.sysconname(a.RIGHTCODE,20019,2) as 'RightNameTH' 
				, dbo.sysconname(a.RIGHTCODE,20019,1) as 'RightNameEN' 
				, '' as 'StoreCode'
				, '' as 'StoreNameTH' 
				, '' as 'StoreNameEN' 
				, '' as 'DoseTypeCode'
				, '' as 'DoseTypeNameTH'
				, '' as 'DoseTypeNameEN'
				, '' as 'DoseCode'
				, '' as 'DoseNameTH'
				, '' as 'DoseNameEN'
				, '' as 'DoseQTYCode'
				, '' as 'DoseQTYNameTH'
				, '' as 'DoseQTYNameEN'
				, '' as 'DoseUnitCode'
				, '' as 'DoseUnitNameTH'
				, '' as 'DoseUnitNameEN'
				, '' as 'DoseFreqCode'
				, '' as 'DoseFreqNameTH'
				, '' as 'DoseFreqNameEN'
				, '' as 'AuxLabel1Code'
				, '' as 'AuxLabel1NameTH'
				, '' as 'AuxLabel1NameEN'
				, '' as 'AuxLabel2Code'
				, '' as 'AuxLabel2NameTH'
				, '' as 'AuxLabel2NameEN'
				, '' as 'AuxLabel3Code'
				, '' as 'AuxLabel3NameTH'
				, '' as 'AuxLabel3NameEN'
				, '' as 'DoseMemo'
				, '' as 'EntryByFacilityMethodCode'
				, '' as 'EntryByFacilityMethodNameTH' 
				, '' as 'EntryByFacilityMethodNameEN' 
				, '' as 'Checkup'
				, 0 as 'FlagDF' 
				, c.HNActivityCategoryCode as 'ActivityCategoryCode' 
				, c.CategoryThaiName as 'ActivityCategoryNameTH' 
				, c.CategoryEnglishName as 'ActivityCategoryNameEN' 
				, (select DIAGNOSES from IPDSUMMARY diag where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisCode'
				, (select icd.THAINAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameTH'
				, (select icd.ENGLISHNAME from IPDSUMMARY diag left join ICD_MASTER icd on diag.DIAGNOSES=icd.ICDCODE where a.AN=diag.AN and diag.SUFFIX=1) as 'PrimaryDiagnosisNameEN'
		from	IPDCHRG a 
				inner join ADMMASTER b on a.AN = b.AN
				inner join PTPAYMENT pt on a.AN = pt.AN and a.REF = pt.REQUESTNO and a.CHARGEVOUCHERNO = pt.CHARGEVOUCHERNO and a.CHARGECODE = pt.CHARGECODE 
				left join [dbo].[view_setup_ActivityCode] c on pt.CHARGECODE = c.hnactivitycode
				where a.VOIDDATETIME is null
				and a.TYPEOFCHARGE <> 1
	)
)bill
where bill.ChargeAmt <> 0 
order by bill.PatientID